<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
    <form action='/expenses/<%= expense._id%>?_method=PUT' method='POST'>
      <label for='title'>Item: <input type='text' name='title' default='New'  value='<%= expense.title%>' required='true'></label><br><br>
    </form>
  </body>
</html>